# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/*
.buildlog/*
.history
.svn/*
migrate_working_dir/*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*

# Visual Studio
.vs/*

# Visual Studio Code
*.code-workspace

# Flutter/Dart/Pub related
.dart_tool
**/doc/api/*
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/*
.pub/*

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug/
/android/app/profile/
/android/app/release/
